<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Survivor' }) %>
</head>

<body>
  <header>
    <h1>Rogue Survivor</h1>
    <ul>
      <li class="header-link">
        <a class="header-link href-a" href="main">Start again</a>
      </li>
      <li class="header-link">
        <a class="header-link href-a" href="">Character</a>
      </li>
    </ul>
  </header>
  <div id="grid">
    <div class="rogue">
      <h4 id="rogue-shielding">Shild: <%= roguecaracter.rogueShielding() %>
      </h4>
      <h4 id="rogue-health" style="background-color: rgba(212, 16, 16, 0.5);">Health: <%= roguecaracter.rogueHealth() %>
      </h4>
      <h4 id="rogue-ap" style="background-color: rgba(240, 240, 240, 0.5);">AP: <%= roguecaracter.rogueAp() %>
      </h4>
      <a href="/melee"><button class="btn">Melee</button></a>
      <a href="/marksman"><button class="btn">Marksman</button></a>
      <a href="/defense"><button class="btn">Defense</button></a>
      <a href="/athletics"><button class="btn">Athletics</button></a>
      <a href="/weaponsMaster"><button class="btn">Weapons Master</button></a>
    </div>
    <div class="attacker">
      <h4>Shild: 270</h4>
      <h4 style="background-color: rgba(212, 16, 16, 0.5);">Health: 270</h4>
      <h4 style="background-color: rgba(240, 240, 240, 0.5);">AP: 12</h4>
    </div>
  </div>

</body>

</html>