* {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: rgb(88, 163, 207);
  background: linear-gradient(135deg, rgb(6, 14, 19), rgb(22, 45, 61));
}

h1 {
  color: rgb(88, 163, 207);
  padding: 0px 25px;
  text-shadow: 2px 3px 35px rgb(0, 162, 255);
}

ul {
  display: flex;
}

.header-link {
  list-style: none;
  color: rgb(88, 163, 207);
  padding: 0px 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  border-style: solid;
  text-shadow: 1px 2px 15px rgb(0, 162, 255);
  border-width: 5px;
  border-radius: 25px;
  border-color: rgba(88, 163, 207, 0);
}

.href-a:hover {
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: rgb(88, 163, 207);
}

h4 {
  font-size: 22px;
  text-align: center;
  background-color: rgba(88, 163, 207, 0.5);
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}
h3 {
  font-size: 20px;
  text-align: right;
  background-color: rgba(88, 163, 207, 0.5);
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}
body {
  background-color: rgb(2, 2, 8);
}

.row {
  content: "";
  display: table;
  clear: both;
}


#grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: rgb(88, 163, 207);
  background: linear-gradient(180deg, rgb(6, 14, 19), rgb(22, 45, 61));
}

.rogue {
  background-image: url("../imagis/rogue01.png");
  background-position: center;
  background-size: contain;
  background-color: rgb(44, 44, 44);
  background-repeat: no-repeat;
  height: 750px;
  width: auto;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: rgb(88, 163, 207);
}

.attacker {
  background-image: url("../imagis/rogue04.png");
  background-position: center;
  background-size: contain;
  background-color: rgb(44, 44, 44);
  background-repeat: no-repeat;
  height: 750px;
  width: auto;
  float: right;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: rgb(88, 163, 207);
}

.btn {
  background-color: rgba(221, 215, 215, 0);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(88, 163, 207, 1);
  text-shadow: 3px 3px 5px rgb(1, 16, 24);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
}
.btn:hover {
  background-color: #272727;
}

.abillitys{
  background-position: center;
  background-size: contain;
  background-color: rgb(107, 112, 116);
  background-repeat: no-repeat;
  height: 300px;
  width: 21%;
  float: left;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  margin: 2%;
  padding: 0.5rem 1.5rem;
  border-color: rgb(88, 163, 207);
}
#grid2 {
  box-sizing: border-box;
  justify-content: space-around;
}

.wraper{
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  border-color: rgb(88, 163, 207);
  background: linear-gradient(180deg, rgb(6, 14, 19), rgb(22, 45, 61));
}

.btn2 {
  display: inline-block;
  padding: 7px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(1, 16, 24);
  background-color: rgba(88, 163, 207, 1);
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px rgb(22, 45, 61);
}

.btn2:hover {background-color: rgba(88, 163, 207, 1)}

.btn2:active {
  background-color: rgba(88, 163, 207, 1);
  box-shadow: 0 5px rgb(22, 45, 61);
  transform: translateY(4px);
}